PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'accounts','0001_initial','2023-09-25 04:37:37.565512');
INSERT INTO django_migrations VALUES(3,'contenttypes','0001_initial','2023-09-25 04:37:37.696029');
INSERT INTO django_migrations VALUES(4,'admin','0001_initial','2023-09-25 04:37:37.752960');
CREATE TABLE IF NOT EXISTS "accounts_userrole" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "description" text NULL);
INSERT INTO accounts_userrole VALUES(1,'Estimator','');
INSERT INTO accounts_userrole VALUES(2,'Project Engineer','');
INSERT INTO accounts_userrole VALUES(3,'Project Manager','');
CREATE TABLE IF NOT EXISTS "accounts_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "full_Name" varchar(255) NOT NULL, "email" varchar(255) NOT NULL UNIQUE, "create_at" datetime NOT NULL, "signtr" varchar(100) NULL, "phone_number" varchar(10) NULL, "updated_at" datetime NOT NULL, "is_active" bool NOT NULL, "is_admin" bool NOT NULL);
INSERT INTO accounts_user VALUES(1,'pbkdf2_sha256$600000$NJkqzIp2Sk4K9QkKgsjWOx$aZbbONk8EqjXqs8A8mvFvooq5yyBSjtVlPHLUNJLSVo=','2023-09-25 04:38:44.128009','Admin','admin@example.com','2023-09-25 04:38:24.412127','',NULL,'2023-09-25 04:44:19.092216',1,1);
INSERT INTO accounts_user VALUES(2,'pbkdf2_sha256$600000$G6c0VMYOhmLrMlTIiDK0Rg$4BX85l4oUMViVMw7Qi0JfP00juASo1mtlbUi+WfnZ1c=',NULL,'Dhruv Patel','dpatel@dmsmgt.com','2023-09-25 04:41:14.735556','user_Sgntr/SGNTR_QtsteFI.png','9687150213','2023-09-26 14:12:48.795960',1,0);
INSERT INTO accounts_user VALUES(3,'pbkdf2_sha256$600000$fRrjlRd7dw4yCljqBfMFKl$sahyYp3BLQfH6hHE1yG9I4hQe6Vc+rJ16WeLiU8SOpA=',NULL,'Marudhu Kamaraj','mkamaraj@dmsmgt.com','2023-09-25 04:42:07.486073','user_Sgntr/SGNTR_dLppSMs.png','8667364965','2023-09-26 14:13:35.931600',1,0);
CREATE TABLE IF NOT EXISTS "accounts_user_roles" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "userrole_id" bigint NOT NULL REFERENCES "accounts_userrole" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO accounts_user_roles VALUES(1,2,1);
INSERT INTO accounts_user_roles VALUES(2,3,1);
INSERT INTO accounts_user_roles VALUES(3,4,1);
CREATE TABLE IF NOT EXISTS "Estimating_company" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Cmpny_Name" varchar(50) NOT NULL, "adress" varchar(70) NOT NULL, "office_phone_number" varchar(10) NOT NULL, "fax_number" varchar(10) NOT NULL, "license_number" varchar(50) NOT NULL, "logo" varchar(100) NOT NULL, "email" varchar(254) NOT NULL);
INSERT INTO Estimating_company VALUES(1,'DMS','390 Selby Street  San Francisco, CA  94124','4155084968','4155084585','CSLB  1035342       DIR  1000059791','logos/1._DMS_Transparent_Logo_SEAV7IE.png','estimating@dmsmgt.com');
INSERT INTO Estimating_company VALUES(2,'DMS BKL','2900 E. Belle Terrace, Unit A Bakersfield, CA  94124','4155084968','4155084585','CSLB  1035342       DIR  1000059791','logos/logo.png','estimating@dmsmgt.com');
CREATE TABLE IF NOT EXISTS "Estimating_location" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL);
INSERT INTO Estimating_location VALUES(1,'VA');
INSERT INTO Estimating_location VALUES(2,'SF');
INSERT INTO Estimating_location VALUES(3,'PHL');
CREATE TABLE IF NOT EXISTS "Estimating_proposal" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NULL, "architect_name" varchar(50) NOT NULL, "architect_firm" varchar(50) NOT NULL, "estimating_id" bigint NOT NULL REFERENCES "Estimating_estimating" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "Estimating_qualification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "detail" varchar(255) NOT NULL);
INSERT INTO Estimating_qualification VALUES(1,'Sufficient water, power, lighting, debris boxes, trash bins and washout bins to be  supplied and maintained by others at no cost to DMS');
INSERT INTO Estimating_qualification VALUES(2,'Parking  to  be  provided  by  General  Contractor  to  DMS  employees  within  1400  feet of job site at no cost to DMS');
INSERT INTO Estimating_qualification VALUES(3,'General Contractor to provide site access and staging at no cost to DMS');
CREATE TABLE IF NOT EXISTS "Estimating_service" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL);
INSERT INTO Estimating_service VALUES(1,'Light gauge metal framing, wall board and finish');
INSERT INTO Estimating_service VALUES(2,'Scaffolding @ stairwells/elevator shaft');
INSERT INTO Estimating_service VALUES(3,'Cold-formed metal framing for our scope of work only');
CREATE TABLE IF NOT EXISTS "Estimating_specification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "specific_name" varchar(250) NOT NULL, "budget" integer NOT NULL, "proposal_id" bigint NOT NULL REFERENCES "Estimating_proposal" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "Estimating_spec_detail" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "number" varchar(8) NOT NULL, "name" varchar(250) NOT NULL, "sefic_id" bigint NOT NULL REFERENCES "Estimating_specification" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "Estimating_proposalservice" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "service_type" varchar(2) NOT NULL, "proposal_id" bigint NOT NULL REFERENCES "Estimating_proposal" ("id") DEFERRABLE INITIALLY DEFERRED, "service_id" bigint NOT NULL REFERENCES "Estimating_service" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "Estimating_estimating_detail" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "drctry_name" varchar(255) NULL, "file_type" varchar(100) NULL, "file_name" varchar(100) NULL, "file_binary_data" BLOB NULL, "Estimating_id" bigint NOT NULL REFERENCES "Estimating_estimating" ("id") DEFERRABLE INITIALLY DEFERRED, "prnt_id" bigint NULL REFERENCES "Estimating_estimating_detail" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO Estimating_estimating_detail VALUES(1,'Addendums',NULL,NULL,NULL,1,NULL);
INSERT INTO Estimating_estimating_detail VALUES(2,'Bid',NULL,NULL,NULL,1,NULL);
INSERT INTO Estimating_estimating_detail VALUES(3,'Plans',NULL,NULL,NULL,1,NULL);
CREATE TABLE IF NOT EXISTS "Estimating_addendum" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "date" date NULL, "addendum_Number" integer NOT NULL, "proposal_id" bigint NOT NULL REFERENCES "Estimating_proposal" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','DMS',1,'[{"added": {}}]',10,1,'2023-09-25 04:39:05.293392');
INSERT INTO django_admin_log VALUES(2,'1','Estimator',1,'[{"added": {}}]',6,1,'2023-09-25 04:39:27.839633');
INSERT INTO django_admin_log VALUES(3,'2','Project Engineer',1,'[{"added": {}}]',6,1,'2023-09-25 04:39:37.439937');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "projects_project" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "job_num" integer unsigned NOT NULL CHECK ("job_num" >= 0), "Forman_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "bim_oprtr_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "estimating_id" bigint NOT NULL REFERENCES "Estimating_estimating" ("id") DEFERRABLE INITIALLY DEFERRED, "prjct_engnr_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "prjct_mngr_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "start_date" date NULL);
INSERT INTO projects_project VALUES(21,35,8,11,1,13,18,'2023-09-21');
INSERT INTO projects_project VALUES(22,45678,9,11,1,15,17,'2023-09-26');
INSERT INTO projects_project VALUES(23,34567,8,11,1,14,18,'2023-08-31');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('x2i8czpg87xk643sbpdmx8aj7qafscay','.eJxVjEEOwiAQRe_C2hCZMgVduvcMZGAGqRpISrsy3l2bdKHb_977LxVoXUpYu8xhYnVWRh1-t0jpIXUDfKd6azq1usxT1Juid9r1tbE8L7v7d1Col28N1gpk61nwiKNBzy47EGE8pSGTQ0uQvUQCIWs8wJCER4tgGBMiqfcH42g4BA:1qkdMq:cU0RvLSHlHwqszn_ae5EtDKDMipFpCD3zc_MQrzuCV0','2023-10-09 04:38:44.145083');
CREATE TABLE IF NOT EXISTS "Estimating_estimating" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "time" time NULL, "Prjct_Name" varchar(50) NOT NULL, "due_date" date NOT NULL, "status" varchar(7) NOT NULL, "start_date" date NULL, "bid_amount" integer NOT NULL, "bidder" varchar(1500) NULL, "bidder_deatil" varchar(50) NULL, "company_id" bigint NOT NULL REFERENCES "Estimating_company" ("id") DEFERRABLE INITIALLY DEFERRED, "estimator_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "location_id" bigint NULL REFERENCES "Estimating_location" ("id") DEFERRABLE INITIALLY DEFERRED, "timezone" varchar(3) NULL);
INSERT INTO Estimating_estimating VALUES(1,'08:58:00','CCC Applied Technology Bldg (Job #22504)','2023-10-29','Working','2023-09-25',87746,'Market Contractors Ltd','- +1 503-517-6764 ΓÇó +1 714-745-1984 ΓÇó karal@market',1,3,3,'PDT');
INSERT INTO Estimating_estimating VALUES(2,'time','ELAC - South Gate Educational Center','2023-11-14','Working',NULL,67676,'Broward Builders','Inc. Dan Delorefice - estimating@browardbuild',2,5,6,'timezone');
INSERT INTO Estimating_estimating VALUES(3,'time','Hill AFB - GBSD SSC','2023-10-17','Working','2023-09-25',7678865,'PGC Builders Kathleen Kelly','(estimating@pgcbuilders.com)  Tovey/Shultz Constr',1,3,1,'timezone');
CREATE TABLE IF NOT EXISTS "projects_project_detail" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "prjct_ID_id" bigint NOT NULL REFERENCES "projects_project" ("id") DEFERRABLE INITIALLY DEFERRED, "drctry_Name" varchar(255) NOT NULL, "prnt_ID" integer unsigned NULL CHECK ("prnt_ID" >= 0), "file_type" varchar(100) NULL, "file_name" varchar(100) NULL, "file_binary_data" BLOB NULL);
INSERT INTO projects_project_detail VALUES(1872,21,'Addendums',NULL,NULL,NULL,NULL);
INSERT INTO projects_project_detail VALUES(1873,21,'Bid',NULL,NULL,NULL,NULL);
INSERT INTO projects_project_detail VALUES(1874,21,'Plans',NULL,NULL,NULL,NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',36);
INSERT INTO sqlite_sequence VALUES('django_admin_log',1414);
INSERT INTO sqlite_sequence VALUES('django_content_type',23);
CREATE UNIQUE INDEX "accounts_user_roles_user_id_userrole_id_e9dabde5_uniq" ON "accounts_user_roles" ("user_id", "userrole_id");
CREATE INDEX "accounts_user_roles_user_id_5c537963" ON "accounts_user_roles" ("user_id");
CREATE INDEX "accounts_user_roles_userrole_id_b3789def" ON "accounts_user_roles" ("userrole_id");
CREATE INDEX "Estimating_proposal_estimating_id_a97edca2" ON "Estimating_proposal" ("estimating_id");
CREATE INDEX "Estimating_specification_proposal_id_ce8af632" ON "Estimating_specification" ("proposal_id");
CREATE INDEX "Estimating_spec_detail_sefic_id_ebb748f3" ON "Estimating_spec_detail" ("sefic_id");
CREATE INDEX "Estimating_proposalservice_proposal_id_0b6f0c60" ON "Estimating_proposalservice" ("proposal_id");
CREATE INDEX "Estimating_proposalservice_service_id_0049352a" ON "Estimating_proposalservice" ("service_id");
CREATE INDEX "Estimating_estimating_detail_Estimating_id_d5247198" ON "Estimating_estimating_detail" ("Estimating_id");
CREATE INDEX "Estimating_estimating_detail_prnt_id_7b88d3f5" ON "Estimating_estimating_detail" ("prnt_id");
CREATE INDEX "Estimating_addendum_proposal_id_63024b9e" ON "Estimating_addendum" ("proposal_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "projects_project_Forman_id_9a480d51" ON "projects_project" ("Forman_id");
CREATE INDEX "projects_project_bim_oprtr_id_20d5f297" ON "projects_project" ("bim_oprtr_id");
CREATE INDEX "projects_project_estimating_id_0712c7f5" ON "projects_project" ("estimating_id");
CREATE INDEX "projects_project_prjct_engnr_id_58724acd" ON "projects_project" ("prjct_engnr_id");
CREATE INDEX "projects_project_prjct_mngr_id_6dee6d77" ON "projects_project" ("prjct_mngr_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "Estimating_estimating_company_id_3b1ae154" ON "Estimating_estimating" ("company_id");
CREATE INDEX "Estimating_estimating_estimator_id_5839bf31" ON "Estimating_estimating" ("estimator_id");
CREATE INDEX "Estimating_estimating_location_id_64d607a3" ON "Estimating_estimating" ("location_id");
CREATE INDEX "projects_project_detail_prjct_ID_id_a56f03e6" ON "projects_project_detail" ("prjct_ID_id");
COMMIT;
